@{
    ViewBag.Title = "Autoübersicht";
    App.mainTitle = "AUTO MANAGEMENT";
    App.arrowBackRoute = "/Eventinfo/eventinfo/" + @ViewBag.ClickedEvent.name;
}
<div class="content">
    <div class="side-title">
        <h2 class="event-title">@ViewBag.ClickedEvent.name</h2>
    </div>
    <div class="free-car-listing">
        <img class="arrow-down" src="../../assets/arrow-down.png" alt="Arrow" />
        <div class="listing">
            @foreach (var Car in ViewBag.ClickedEvent.cars)
            {
                <div class="listing-car">
                    <h3 class="car-listing">@Car.drivername</h3>
                    <h3 class="car-listing">@Car.pickupLocation</h3>
                    <h3 class="car-listing">@Car.datetime</h3>
                    <h3 class="car-listing">@Car.emptySeats</h3>
                    <div class="car-listing-line"></div>
                </div>
            }
        </div>
    </div>
    <div class="buttons">
        <button class="event-button"><a href="/Autoanmelden/autoanmelden/@ViewBag.ClickedEvent.name">AUTO ANMELDEN</a></button>
        <button class="event-button reserve-car">ANMELDEN</button>
    </div>
</div>